.mainHeader {
	padding-top: 10px;
	color:firebrick;
	text-shadow: 0px 0px 10px white;
	margin-left: 20%;
	font-size: 3em;
}

h2 {
	color:green;
	text-align: center;
	border: thick double black;

}

.titleBar {
	margin-top: -15px;
	height: 75px;
	width:100%;
	background-color:green;
}

.menuContainer {
	width:70%;
	height:auto;
	margin:2%;
}

.drinkContainer {
	clear:both;
	width:70%;
	height:auto;
	margin:2%;
}

.menuList, .drinkList {
	border-style: groove;
	border-radius: 10px;
	padding:10px;
	background-color: #E81712;
	margin:25px;
	color:white;
	height:200px;
	width: 200px;
	float: left;
	-webkit-transition: all 0.2s ease-in-out;
}

.dietIndicator {
	position: relative;
	top:-40px;
	height:1.25em;
	width:1.25em;
	text-align: center;
	float: right;
	font-family: fantasy;
	font-size: 1.25em;
	border-radius: 1.25em;
	background-color: green;
}

.itemName {
	font-size: 1.3em;
}

.description {
	font-family: fantasy;
	color: #333;
}

.currentOrder {
	padding:5px;
	position:fixed;
	min-width:20%;
	right:0px;
	top: 0px;
	height: 900px;
	background-color:firebrick;
}
h3 {
	text-align: center;
	font-family: fantasy;
}
.price {
	display: inline;
	position:relative;
	bottom:-180px;
}

.menuList:hover, .drinkList:hover {
	box-shadow: 0px 0px 20px black;
	cursor: pointer;
	-webkit-transform: rotateZ(2deg);
	-webkit-transition: all 0.2s ease-in-out;
}

.orderTotal {
	position: relative;
	bottom:-66.67%;
	font-family: sans-serif;
}


/*Lightbox*/
.lightbox {
	position: fixed;
	top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
}

.background-box {
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.2s ease-in-out;
}

.info-box {
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: white;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	padding: 15px;
  	border-radius: 6px;
	z-index: 2;
	-webkit-transition: all 0.2s ease-in-out;
}

.confirm-button {
	float: right;
	text-align: center;
	background-color: firebrick;
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
	color: white;
}

.cancel-button {
	float: left;
	text-align: center;
	background-color: firebrick;
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
	color: white;
}

.confirm-button:hover, .cancel-button:hover {
	cursor: pointer;
	background-color:black;
}

.currentOrderItemPrice {
	display: inline;
	float: right;
	clear:right;
	-webkit-transition: all 0.2s ease-in-out;
}

.currentOrderItemName {
	float: left;
	display: inline;
	clear:left;
	-webkit-transition: all 0.2s ease-in-out;
}

.dietChoice {
	padding-top: 20px;
	padding-bottom: 100px;
	clear:both;
}

.currentOrderItemName:hover, .currentOrderItemPrice:hover {
	cursor: pointer;
	color:white;
	-webkit-transition: all 0.2s ease-in-out;

}



@media only screen and (min-width : 320px) and (max-width : 1000px) {
	.mainHeader {
		font-size: 2em;
	}
}

@media only screen and (min-width : 320px) and (max-width : 680px) {
	.mainHeader {
		font-size: 1.25em;
		margin-left: 0;
	}
	.addItem {
		margin-left: 0PX;
	}
}






